
body {
  margin: 0;
  /*   background: black; */
  padding: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#buttons {
  position: absolute; 
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  margin-left: 30px;
  /* right: 0; */
}
.button-up {
  position: relative;
  padding: 10px;
  margin: 10px auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-down {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px auto;
  transition: all 0.2s linear;
}

.button-down:hover {
  transform: translate3d(0, 10px, 0);
}

.button-up:hover {
  transform: translate3d(0, -10px, 0);
}

.button-up::after,
.button-down::after {
  content: "";
  position: relative;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.button-up::after {
  top: 20px;
  transform: rotate(45deg);
}

.button-down::after {
  top: 10px;
  transform: rotate(225deg);
}

a,
a:visited {
  color: inherit;
}

.restart .icon {
  position: absolute;
  color: aqua;
  top: 0;
  right: 0;
  padding-right: 70px;
}

.restart .icon i {
  font-size: 3rem;
  color: rgb(175, 111, 240);
}

.fi-refresh {    
  font-size: 3.5rem;
  text-align:center;
  color:#ecf0f1;
  display: block;
  margin-top:30px;
}
.fi-refresh:hover{
  -webkit-animation: fi-refresh 1s linear infinite; /* Safari 5, Chrome */
  -moz-animation: fi-refresh 1s linear infinite; /* Firefox 5-15 */
  -o-animation: fi-refresh 1s linear infinite; /* Opera 12+ */
  animation: fi-refresh 1s linear infinite; /* Safari 5, Chrome, Firefox 16+ */
}
@-webkit-keyframes fi-refresh {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fi-refresh {
  0% {-webkit-transform: rotate(0deg); }
  100%  { -webkittransform: rotate(360deg); }
}
@-moz-keyframes fi-refresh {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes fi-refresh {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}

#score {
  position: absolute;
  font-size: 1.25rem;
  top: 0;
  left: 0;
  right: 50;
  color: white;
  max-width: 100px;
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
  line-height: 1.6em;
}

#controls {
  position: relative;
}

#results {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
  display: none;
  z-index: 51;
}

#results .content {
  max-width: 350px;
  padding: 50px;
  border-radius: 20px;
}