
:root {
  --primary-color: #6b40eb;
  --secondary-color: #917ff6;
  --link-color: #8594e4;
  --placeholder: #c7cdf5c8;
  --accent-color: rgb(255 152 252);
  --light-color: #d5def5;
  --dark: #2d0d83;
  --darker: #1b0754;
  --darkest: #08001f;
  --text-shadow: 2px 4px 3px rgba(67, 15, 88, 0.1);
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  /*   background: black; */
  padding: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------- Design Elements */

button {
  background: none;
  border: none;
}

.question {
  color: rgb(112, 100, 224);
  font-size: 2.65rem;
  font-weight: 600;
  padding-top: 33px;
}

.question:hover {
  color: rgba(112, 100, 224, 0.662);
}

#buttons {
  position: absolute; 
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  margin-left: 30px;
  /* right: 0; */
}

.button-up {
  position: relative;
  padding: 10px;
  margin: 10px auto;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-down {
  position: relative;
  padding: 10px;
  height: 35px;
  width: 35px;
  transition: all 0.2s linear;
  margin-bottom: 50px;
}

.button-down:hover {
  transform: translate3d(0, 5px, 0);
}

.button-up:hover {
  transform: translate3d(0, -5px, 0);
}

.button-up::after,
.button-down::after {
  content: "";
  position: relative;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
}

.button-up::after {
  top: 20px;
  transform: rotate(45deg);
  
}

.button-down::after {
  top: 10px;
  transform: rotate(225deg);
}

a,
a:visited {
  color: inherit;
}

.restart .icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 40px;
}

.nav-row {
  display: flex;
}

/* ----------- Top Controls */

.restart .icon i {
  font-size: 3rem;
  color: rgb(132, 25, 240);
}

.instructions {
  position: absolute;
  font-size: 2.8rem;
  top: 0;
  right: 0;
  padding-top: 29px;
  padding-right: 22px;
  margin: 0 auto;
  color: rgb(103, 87, 248);
}

.restart .icon i:hover {
  font-size: 3rem;
  color: rgba(102, 15, 189, 0.786);
}

.fi-refresh {    
  font-size: 3.5rem;
  text-align:center;
  color:#ecf0f1;
  display: block;
  padding-right: 10px;
  margin:20px auto;
}
.fi-refresh:hover{
  -webkit-animation: fi-refresh 1s linear infinite; /* Safari 5, Chrome */
  -moz-animation: fi-refresh 1s linear infinite; /* Firefox 5-15 */
  -o-animation: fi-refresh 1s linear infinite; /* Opera 12+ */
  animation: fi-refresh 1s linear infinite; /* Safari 5, Chrome, Firefox 16+ */
}
@-webkit-keyframes fi-refresh {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fi-refresh {
  0% {-webkit-transform: rotate(0deg); }
  100%  { -webkittransform: rotate(360deg); }
}
@-moz-keyframes fi-refresh {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes fi-refresh {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}

/* ---------------- Modal */
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #040219;
  color: white;
  font-family: "tt-frantz-b", sans-serif;

}

.how-to-restart,
.how-to-play,
.about {
  font-family: "tt-frantz-b", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  font-weight: 400;
  color: #705ff4;
}

.how-to-restart {
  margin-top: 30px;
}

.how-to-play {
  padding-top: 20px;
}

.modal p {
  font-size: 14px;
  font-family: 'futura-pt', sans-serif;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #040219;
  color: white;
}

/* ---------------------- Modal Content */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  margin: 0px auto;
}

/* Modal Content */
.modal-content {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  max-width: 85%;
  height: 80%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  background-color: #040219;
}

.modal-header {
  background-color: #040219;
  border: none;
  margin-bottom: 10px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
}

.modal-body {
  padding: 2px 16px;
  border: none;
  background-color: #040219;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #040219;
  color: white;
  border: none;
}

span.close {
  margin-right: 50px;
  float: right;
  color: #5544d6;
  font-size: 4rem;
  left: 0;
}

.close:hover,
.close:focus {
  color: #2d0d83;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

#score {
  position: absolute;
  font-size: 1.25rem;
  top: 0;
  left: 0;
  right: 50;
  max-width: 100px;
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #8679ec;
  line-height: 1.6em;
}

#coverView {
  position: relative;
  min-height: 100vh;
  z-index: 1000;
}

#controls {
  position: relative;
}

#results {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
  display: none;
  z-index: 51;
}

#results .content {
  max-width: 350px;
  padding: 50px;
  border-radius: 20px;
}